.game{
display: grid;
grid-template-columns: 0fr 0fr 0fr;
justify-content: center;
align-content: center;
justify-content: center;
align-items: center;
}

.game button{
    width:  75px;
    height: 65px;
    font-size: 38pt;
    margin: 4px 2px;
    font-weight: 300;
    padding-top: 10px;
    border-radius: 3px;
    text-align: center;
    background-color: brown;
}